<h1> Add Category </h1>
<form [formGroup] = "category" (ngSubmit)="onSubmit()">
  <div class="form-group row">
    <div class="col-md-6">
      <label for="exampleInputEmail1">Main Category Name</label>
      <input type="email"  formControlName="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Main Category Name">
    </div>
    <div class="col-md-6">
          <label for="arabicName">Category Arabic Name</label>
          <input type="email" formControlName="arabic_name" class="form-control" id="arabicName" aria-describedby="emailHelp" placeholder="">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<ngx-spinner></ngx-spinner>