<h1> Add Category </h1>
<form>
  <div class="form-group row">
    <div class="col-md-6">
      <label for="exampleInputEmail1">Main Category Name</label>
      <input type="email" name="name"  [(ngModel)]="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Main Category Name">
    </div>
    <div class="col-md-6">
          <label for="arabicName">Category Arabic Name</label>
          <input type="email" name="arabic_name"  [(ngModel)]="arabic_name" class="form-control" id="arabicName" aria-describedby="emailHelp" placeholder="">
    </div>
  </div>
  <button class="btn btn-primary" (click)="onSubmit()">Submit</button>
</form>
<ngx-spinner></ngx-spinner>