<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
<thead>
    <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Mobile</th>
    <th>City</th>
    <th>Status</th>
    <th> Actions </th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let x of items">
    <td>{{ x.id }}</td>
    <td>{{ x.name }}</td>
    <td>{{ x.email }}</td>
    <td>{{x.mobile}}</td>
    <td>{{x.city}}</td>
    <td>{{x.status}}</td>
    <td>
        <button class="btn btn-primary" [routerLink]="['/customer-order', x.id]">orders</button> 
        <button class="btn btn-primary" [routerLink]="['/customer-details', x.id]">Details</button>
    </td>
    </tr>
</tbody>
</table>
<ngx-spinner></ngx-spinner>